<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chats - Kokoa Clone</title>
    </head>
    <body>
        <div class = "status-bar">
            <div class = "status-bar__column">
                <span>No Service</span>
                <i class="fas fa-wifi"></i>
            </div>
            <div class = "status-bar__column">
                <span>18:43</span>
            </div>
            <div class = "status-bar__column">
                <span>90%</span>
                <i class="fas fa-battery-three-quarters fa-lg"></i>
                <i class="fas fa-bolt"></i>
            </div>
        </div>

        <header class = "screen-header">
            <h1 class = "screen-header__title">Chats</h1>
            <div class = "screen-header__icons">
                <span><i class = "fas fa-search fa-lg"></i></span>
                <span><i class = "far fa-comment-dots fa-lg"></i></span>
                <span><i class="fas fa-music fa-lg"></i></span>
                <span><i class="fas fa-cog fa-lg"></i></span>
            </div>
        </header>
        
        <main class = "main-screen">
            {% for i in rList %}
                <ul>
                    <a href=/chat/{{i[0]}}/read>
                        <li class = "user-component">
                            <div class="user-component__column">
                                <img class="user-component__img--sm user-component__img" src="{{i[5]}}"/>
                                <div class = "user-component__text">
                                    <h4 class="user-component__title user-component__title--not-bold">{{i[2]}}</h4>
                                </div>
                            </div>
                            <div class="user-component__column">
                                <span class="user-component__time">{{i[4]}}</span>
                                {% if i[3] != 0 %}
                                    <div class ="badge">{{i[3]}}</div>
                                {% endif %}
                            </div>
                        </li>
                    </a>
                </ul>
            {% endfor %}
        </main>

        <nav class = "nav">
            <ul class = "nav__lists">
                <li class ="nav__btn">
                    <a class = "nav__link" href="/friends">
                        <i class="far fa-user fa-2x"></i>
                    </a>
                </li>
                <li class ="nav__btn">
                    <a class = "nav__link" href="/chats">
                        {% if count != 0 %}
                            <span class = "nav_notification">{{count}}</span>
                        {% endif %}
                        <i class="fas fa-comment fa-2x"></i>
                    </a>
                </li>
                <li class ="nav__btn">
                    <a class = "nav__link" href="/find">
                        <i class="fas fa-search fa-2x"></i>
                    </a>
                </li>
                <li class ="nav__btn">
                    <a class = "nav__link" href="/more">
                        <div class = "link_notification"></div>
                        <i class="fas fa-ellipsis-h fa-2x"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div id = "no-mobile">
            <span>Your Sceen is too big</span>
        </div>
        <script src="https://kit.fontawesome.com/903f061087.js" crossorigin="anonymous"></script>
    </body>
</html>