<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../../../static/styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat with RedBee - Kokoa Clone</title>
        <style>
            body{
                background-image: url("{{userProfile[3]}}");
                background-repeat: no-repeat;
                background-size: contain;
                background-position:center center;
            }
        </style>
    </head>
    <body class = "profile-screen detail-screen" >
        <div class = "status-bar">
            <div class = "status-bar__column">
                <span>No Service</span>
                <i class="fas fa-wifi"></i>
            </div>
            <div class = "status-bar__column">
                <span>18:43</span>
            </div>
            <div class = "status-bar__column">
                <span>90%</span>
                <i class="fas fa-battery-three-quarters fa-lg"></i>
                <i class="fas fa-bolt"></i>
            </div>
        </div>
        <header class="alt-header">
            <div class="alt-header__column">
                <a href="/profile/{{userProfile[0]}}"><i class="fas fa-times fa-2x"></i></a>
            </div>
            <div class="alt-header__column"></div>
            <div class="alt-header__column"></div>
        </header>
<!--        <img class="profile-image" src="https://avatars3.githubusercontent.com/u/43517509?s=460&u=332a86902f01110a56e14dbd0ab50e996c253091&v=4"/>-->




        <div id = "no-mobile">
            <span>Your Sceen is too big</span>
        </div>
        <script src="https://kit.fontawesome.com/903f061087.js" crossorigin="anonymous"></script>
    </body>
</html>