<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Kokoa Clone</title>
    </head>
    <body>
        <div class = "status-bar">
            <div class = "status-bar__column">
                <span>No Service</span>
                <i class="fas fa-wifi"></i>
            </div>
            <div class = "status-bar__column">
                <span>18:43</span>
            </div>
            <div class = "status-bar__column">
                <span>90%</span>
                <i class="fas fa-battery-three-quarters fa-lg"></i>
                <i class="fas fa-bolt"></i>
            </div>
        </div>

        <header class = "welcome-header">
            <h1 class = "welcome-header__title">Welcome to Kokoa Clone</h1>
            <p class = "welcome-header__text">If you have a Kokoa Account, log in with your ID</p>
        </header>

        <form id = "login-form" action="/login" method="POST">
            <input required name = "username" type="text" placeholder ="ID"/>
            <input required name = "password" type="password" placeholder ="Password"/>
            <input type="submit" value ="Log In"/>
        </form>
        <form id = "sign-form" action="/sign" method="POST">
          <input type="submit" value ="Sign Up" />
        </form>


        <div id = "no-mobile">
            <span>Your Sceen is too big</span>
        </div>

        <script src="https://kit.fontawesome.com/903f061087.js" crossorigin="anonymous"></script>
    </body>
</html>