<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>sohn's profile - Kokoa Clone</title>
        <style>
            {% if userProfile[4] %}
                body{
                    background-image: url("{{userProfile[4]}}");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                }
            {% endif %}
        </style>
    </head>
    <body class = "profile-screen detail-screen" >
        <div class = "status-bar">
            <div class = "status-bar__column">
                <span>No Service</span>
                <i class="fas fa-wifi"></i>
            </div>
            <div class = "status-bar__column">
                <span>18:43</span>
            </div>
            <div class = "status-bar__column">
                <span>90%</span>
                <i class="fas fa-battery-three-quarters fa-lg"></i>
                <i class="fas fa-bolt"></i>
            </div>
        </div>
        <header class="alt-header">
            <div class="alt-header__column">
                <a href="/friends"><i class="fas fa-times fa-2x"></i></a>
            </div>
            <div class="alt-header__column"></div>
            <div class="alt-header__column"></div>
        </header>


        <main>
            <div class = "profile-content">
                <a href="/profile/{{userProfile[0]}}/image">
                    {% if userProfile[3] %}
                        <img src="{{userProfile[3]}}"/>
                    {% else %}
                        <img src="https://cdn.imweb.me/thumbnail/20200309/254b4ca53ad5b.jpeg"/>
                    {% endif %}
                </a>
                <div class = "profile_name">
                    {{userProfile[1]}}
                </div>
                <div class = "profile_comment">
                    {{userProfile[5]}}
                </div>
            </div>
        </main>

        <footer class = "footer">
            <ul class = "profile__lists">
                {% if username == userProfile[0] %}
                    <li class ="profile__btn">
                        <a class = "profile__link" href="/profile/{{userProfile[0]}}/edit">
                            <i class="profile__btn-img fas fa-pencil-alt fa-2x"></i>
                        </a>
                        <span class = "profile__btn-text">Edit Profile</span>
                    </li>
                    <li class ="profile__btn">
                        <a class = "profile__link">
                            <i class="profile__btn-img fas fa-quote-right fa-2x"></i>
                        </a>
                        <span class = "profile__btn-text">Kokoa Story</span>
                    </li>
                {% else %}
                    <li class ="profile__btn">
                        <a class = "profile__link" >
                            <i class="profile__btn-img fas fa-comment fa-2x"></i>
                        </a>
                        <span class = "profile__btn-text">Send Message</span>
                    </li>
                    <li class ="profile__btn">
                        <a class = "profile__link">
                            <i class="profile__btn-img fas fa-quote-right fa-2x"></i>
                        </a>
                        <span class = "profile__btn-text">Kokoa Story</span>
                    </li>
                {% endif %}
            </ul>
        </footer>


        <div id = "no-mobile">
            <span>Your Sceen is too big</span>
        </div>
        <script src="https://kit.fontawesome.com/903f061087.js" crossorigin="anonymous"></script>
    </body>
</html>